html {
    width: 100%;
    height: 100%;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background: #f7f8fa;
    color: #333333;
    margin: 0;
}
.login input:-webkit-autofill,
.login input:-webkit-autofill:hover, 
.login input:-webkit-autofill:focus, 
.login input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #F5F6FA inset !important;
}
input:focus, textarea:focus, select:focus{
    outline: none;
}
::placeholder {
    font-size: 15px;
    color: rgb(108,107,128);
}
.select2-selection__rendered {
    line-height: 38px !important;
}
.select2-container .select2-selection--single {
    height: 38px !important;
}
.select2-selection__arrow {
    height: 40px !important;
}
.select2-container--default .select2-selection--single {
    border: 1px solid rgb(230, 230, 230);
    border-radius: 0;
}
.page-item.active .page-link {
    background-color: #3b86ff;
    border-color: #3b86ff;
}
.bootstrap-tagsinput {
    width: 100%;
    border: 1px solid rgb(230, 230, 230);
    padding: 0.4rem 0 0.4rem 1rem;
    border-radius: 0;
    box-shadow: none;
    margin-top: 1rem;
}
.bootstrap-tagsinput .badge {
    padding: 4px 5px;
    margin: 0 5px;
}
.bootstrap-tagsinput .badge-info {
    background-color: #3b86ff;
}
.badge {
    font-size: 65%;
}
.card {
    border: 0;
    border-radius: 0;
}
/*-------------------- Dashboard Header ---------------------*/
.dashboard-header {
    background: #fff;
    height: 60px;
}
.header-left {
    position: relative;
    margin-left: 250px;
    float: left;
    padding-top: 0.8rem;
}
.header-left span {
    position: absolute;
    left: 2.3rem;
    top: 1.2rem;
    color: rgb(205,205,216);
}
.header-left input {
    border: 1px solid rgb(230, 230, 230);
    padding-left: 2rem;
    margin-left: 2rem;
    width: 450px;
    height: 35px;
}
.header-right {
    display: flex;
    align-items: center;
    float: right;
}
.navbar-profile .dropdown {
    position: relative;
}
.navbar-profile .dropdown .dropdown-toggle {
    font-size: 15px;
    color: rgb(67, 66, 93);
    line-height: 1.2;
    position: absolute;
    right: 60px;
    top: 18px;
    font-weight: 500;
}
.navbar-profile .dropdown .dropdown-toggle:hover {
    text-decoration: none;
}
.navbar-profile .dropdown .dropdown-menu.show {
    top: 22px !important;
    left: -73px !important;
}
.navbar-profile .profile-pic {
    height: 40px;
    width: 40px;
    margin: 10px 10px 2px 10px;
    border-radius: 50%;
}
.navbar-profile .dropdown .dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    width: 130px;
    margin-left: -80px;
    padding: 15px;
    background-color: #31353D;
    box-shadow: 0px 8px 16px 0px #d9d9d9;
    line-height: 2em;
}
.navbar-profile .dropdown .dropdown-menu {
    border-radius: 2px;
    border: 0;
}
.navbar-profile .dropdown .dropdown-content ul {
    list-style-type: none;
}
.navbar-profile .dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
}
.navbar-profile .dropdown:hover .dropdown-content ul {
    padding: 0;
    margin: 0;
}
.navbar-profile .dropdown .dropdown-content li {
    color: #fff;
    cursor: pointer;
}
.navbar-profile .dropdown .dropdown-content li:hover {
    color: #4ca0ea;
}
.navbar-profile .dropdown .dropdown-content li:last-child {
    padding-top: 5px;
    margin-top: 5px;
    border-top: 1px solid #d9d9d9;
}

/*----------------page-wrapper----------------*/
.page-wrapper {
  height: 100vh;
}
.page-wrapper .theme {
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 4px;
  margin: 2px;
}

.page-wrapper .theme.chiller-theme {
  background: #1e2229;
}

/*----------------toggeled sidebar----------------*/

.page-wrapper.toggled .sidebar-wrapper {
  left: 0px;
}

@media screen and (min-width: 768px) {
    .page-wrapper.toggled .page-content {
        padding-left: 280px;
    }
}
/*----------------show sidebar button----------------*/
#show-sidebar {
  position: fixed;
  left: 0;
  top: 10px;
  z-index: 9;
  border-radius: 0 4px 4px 0px;
  width: 35px;
  transition-delay: 0.3s;
}
.page-wrapper.toggled #show-sidebar {
  left: -40px;
}
/*----------------sidebar-wrapper----------------*/

.sidebar-wrapper {
  width: 265px;
  height: 100%;
  max-height: 100%;
  position: fixed;
  top: 0;
  left: -265px;
  z-index: 999;
    padding: 0 1rem;
}

.sidebar-wrapper ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar-wrapper a {
  text-decoration: none;
}

/*----------------sidebar-content----------------*/

.sidebar-content {
  max-height: calc(100% - 30px);
  height: calc(100% - 30px);
  overflow-y: auto;
  position: relative;
}

.sidebar-content.desktop {
  overflow-y: hidden;
}

/*--------------------sidebar-brand----------------------*/

.sidebar-wrapper .sidebar-brand {
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

.sidebar-wrapper .sidebar-brand > a {
    text-transform: uppercase;
    flex-grow: 1;
    font-size: 30px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.2;
}

.sidebar-wrapper .sidebar-brand #close-sidebar {
    display: inline-flex;
    cursor: pointer;
    font-size: 20px;
}

/*----------------------sidebar-menu-------------------------*/

.sidebar-wrapper .sidebar-menu {
  padding-bottom: 10px;
}
.sidebar-wrapper .sidebar-menu ul li a:hover {
    background-color: rgb(82,90,101);
    border-radius: 3px;
}
.sidebar-wrapper .sidebar-menu ul li a {
    display: flex;
    color: rgb(255, 255, 255);
    padding: 15px 20px 15px 10px;
}
.sidebar-wrapper .sidebar-menu ul li a span {
    font-size: 18px;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    width: 100%;
    text-decoration: none;
    position: relative;
    text-transform: capitalize;
    padding-left: 1rem;
}

/*--------------------------page-content-----------------------------*/
.page-title {
    font-size: 28px;
    color: rgb(67, 66, 93);
    line-height: 1.2;
    text-transform: capitalize;
}
.page-wrapper .page-content {
    display: inline-block;
    width: 100%;
    padding-left: 0px;
}
.page-wrapper .page-content {
    overflow-x: hidden;
}
.main-content {
    background-color: #fff;
    padding: 1.2rem;
}
/*------scroll bar---------------------*/

::-webkit-scrollbar {
  width: 5px;
  height: 7px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #525965;
  border: 0px none #ffffff;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #525965;
}
::-webkit-scrollbar-thumb:active {
  background: #525965;
}
::-webkit-scrollbar-track {
  background: transparent;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: transparent;
}
::-webkit-scrollbar-track:active {
  background: transparent;
}
::-webkit-scrollbar-corner {
  background: transparent;
}


/*-----------------------------chiller-theme-------------------------------------------------*/

.chiller-theme .sidebar-wrapper {
    background: #31353D;
}

.chiller-theme .sidebar-wrapper .sidebar-menu {
    margin-top: 2rem;
}

.chiller-theme .sidebar-wrapper .sidebar-menu ul li {
    color: #818896;
}

.page-wrapper.chiller-theme.toggled #close-sidebar {
    color: #bdbdbd;
}

.page-wrapper.chiller-theme.toggled #close-sidebar:hover {
    color: #ffffff;
}

/*--------- Login ---------*/
.login {
    height: 100%;
    width: 200px;
    background: #fff;
    padding: 0 50px 40px 50px;
    border-radius: 10px;
    position: relative;
    text-align: center;
}
.login h1 {
    font-size: 30px;
    line-height: 1.3;
}
.login h1 span {
    font-size: 20px;
    color: #43425D;
}
.login form {
    position: relative;
}
.login input {
    display: block;
    height: 40px;
    background-color: #F5F6FA;
    padding-left: 35px;
    border: 0;
    border-bottom: 2px solid #808391;
    margin-bottom: 1rem;
}
.login span:first-child {
    position: absolute;
    left: 5px;
    top: 10px;
    color: #808391;
}
.login .lock-icon {
    position: absolute;
    left: 5px;
    top: 70px;
    color: #808391;
}
.login button {
    display: block;
    background-color: #3B86FF; 
    border: none;
    color: #fff;
    padding: 10px 40px;
    margin: 0 auto;
    margin-bottom: 1.5rem;
    text-decoration: none;
    font-size: 15px;
    border-radius: 4px;
    margin-top: 1.3rem;
}
.login a {
    color: #444;
    text-decoration: none;
    font-size: 14px;
}

/*---------- Context List -----------*/
.page-title {
    padding: 1.3rem 0;
}
.page-title h1 {
    font-size: 28px;
    color: rgb(67, 66, 93);
    line-height: 1.2;
    margin-bottom: 0;
}
thead {
    background-color: rgb(245,246,250);
    font-weight: 600;
}
thead th {
    font-weight: 500;
}
tbody tr td, tbody tr td a {
    color: rgb(164,175,183);
}

/*----------- Create Context ------------*/
.create-context > div {
    display: inline-block;
    width: 48%;
}
.create-context .english-context {
    margin-right: 1.5rem;
}
.english-context .first-row, .english-context .second-row,
.chinese-context .first-row, .chinese-context .second-row {
    margin-bottom: 1rem;
}
.english-context .first-row input, .chinese-context .first-row input {
    width: 100%;
    border: 1px solid rgb(230, 230, 230);
    padding: 0.4rem 0 0.4rem 1rem;
}
.english-context .second-row input, .chinese-context .second-row input, .note {
    width: 100%;
    border: 1px solid rgb(230, 230, 230);
    padding: 0.4rem 0 0.4rem 1rem;
}
.note {
    margin-bottom: 0.8rem;
}
#article-title-eng, #article-title-chi {
    width: 100%;
}
.english-context h5, .chinese-context h5 {
    font-size: 18px;
    color: rgb(77, 79, 92);
    line-height: 1.2;
}
.tox-tinymce {
    border: 1px solid rgb(230, 230, 230);
}
.tox .tox-statusbar {
    display: none !important;
}
.create-context button {
    text-transform: uppercase;
    padding: 0.6rem 3rem;
    margin-top: 0.8rem;
    color: #fff;
    background-color: #3b86ff;
    border: 0;
    border-radius: 4px;
}
.dropdown .dropdown-menu a {
    display: flex;
}

/*----------- Article -----------*/
.article-list .new-article-btn {
    display: flex;
    text-transform: uppercase;
    padding: 0.6rem 0 0.6rem 3rem;
    color: #fff;
    background-color: #3b86ff;
    border: 0;
    border-radius: 4px;
    width: 290px;
    margin-bottom: 2rem;
}
.article-list .new-article-btn:hover {
    text-decoration: none;
}
.create-article {
    background-color: #fff;
    padding: 1.2rem;
}
.create-article > div {
    display: inline-block;
    width: 48%;
}
.create-article .english-article {
    margin-right: 1.5rem;
}
.english-article .first-row input, .chinese-article .first-row input {
    border: 1px solid rgb(230, 230, 230);
    padding: 0.4rem 0 0.4rem 1rem;
    margin-bottom: 0.7rem;
    width: 100%;
}
.english-article h5, .chinese-article h5 {
    font-size: 18px;
    color: rgb(77, 79, 92);
    line-height: 1.2;
}
.create-article button {
    text-transform: uppercase;
    padding: 0.6rem 3rem;
    margin-top: 0.8rem;
    color: #fff;
    background-color: #3b86ff;
    border: 0;
    border-radius: 4px;
}

/*--------- Advance Search ----------*/
.search-box {
    background-color: #fff;
    padding: 1.2rem;
}
.search-box select {
    display: inline-block;
    width: 25%;
}
.search-box button {
    text-transform: uppercase;
    padding: 0.47rem 3rem;
    color: #fff;
    background-color: #3b86ff;
    border: 0;
    border-radius: 4px;
}

/*--------- Profile Edit ---------*/
.password-field, .profile-field {
    background-color: #fff;
    padding: 1.2rem;
}
.password-field input, .profile-field input {
    display: block;
    border: 1px solid rgb(230, 230, 230);
    padding: 0.4rem 0 0.4rem 1rem;
    width: 100%;
    margin-bottom: 1rem;
}
.password-field button, .profile-field button {
    text-transform: uppercase;
    padding: 0.6rem 3rem;
    margin-top: 0.8rem;
    color: #fff;
    background-color: #3b86ff;
    border: 0;
    border-radius: 4px;
}
.avatar-upload {
  position: relative;
  max-width: 205px;
}
.avatar-upload .avatar-edit {
  position: absolute;
  right: 12px;
  z-index: 1;
  top: 10px;
}
@media screen and (max-width: 576px) {
    .avatar-upload .avatar-edit {
      right: 62px;
    }
}
.avatar-upload .avatar-edit input {
  display: none;
}
.avatar-upload .avatar-edit input + label:hover {
  background: #f1f1f1;
  border-color: #d6d6d6;
}
.avatar-upload .avatar-edit input + label:after {
  content: "\e439";
  font-family: 'Material Icons';
  color: #777;
  font-size: 24px;
  position: absolute;
  top: 7px;
  left: -50px;
  right: 0;
  text-align: center;
  margin: auto;
}
.avatar-upload .avatar-preview {
  width: 152px;
  height: 152px;
  position: relative;
  border-radius: 100%;
  margin: 0 auto;
  margin-bottom: 1rem;
}
@media screen and (max-width: 576px) {
    .avatar-upload .avatar-preview {
      width: 135px;
      height: 135px;
    }
}
.avatar-upload .avatar-preview > div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/*--------- User Create ---------*/
.user-create-area {
    background-color: #fff;
    padding: 1.2rem;
}
.user-create-area input, .user-create-area select {
    border: 1px solid rgb(230, 230, 230);
    padding: 0.4rem 0 0.4rem 1rem;
    margin-bottom: 0.7rem;
    width: 100%;
}
.user-create-area button {
    text-transform: uppercase;
    padding: 0.6rem 3rem;
    margin-top: 0.8rem;
    color: #fff;
    background-color: #3b86ff;
    border: 0;
    border-radius: 4px;
}

/*--------- Full article ---------*/
.article-title {
    margin-bottom: 1.5rem;
}

/*----------- Term Add -----------*/
.term-add button {
    text-transform: uppercase;
    padding: 0.3rem 1.5rem;
    margin-top: 0.8rem;
    color: #fff;
    background-color: #3b86ff;
    border: 0;
    border-radius: 4px;
}
.create-context a {
    display: block;
    font-size: 13px;
    color: rgb(59, 134, 255);
    line-height: 1.2;
    margin-top: 0.7rem;
    text-align: center;
}
span.term-group {
    color: #333;
    font-weight: 500;
}